#info{
    background-color: white;
    font-family: Poppins;
    color: #2c2929;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
#info2 {
    background-color: rgb(221, 221, 221);
    font-family: Poppins;
    color: #2c2929;
    padding-top: 5%;
    padding-bottom: 5%;
}
#info3 {
    background-color: white;
    font-family: Poppins;
    color: #2c2929;
    padding-top: 5%;
    padding-bottom: 5%;
}
.titulo{
    text-align: center;
}
table{
    margin: auto;
}
.introduccion{
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-line;
}
