body {
    background-color: #17181C;
    font-family: Poppins, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px;
    background-color: #17181C;
    text-align: center;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 18px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    padding: 18px;
}

nav ul li a:hover {
    background-color: #929fb3;
}


#botton_section {
    background-color: #17181C;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    background-size:cover;
}

#botton_section nav {
    margin-right: auto;
    text-align: center;
}

#logo-link {
    margin-right: auto;
}


